<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
      <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>

<!--  <specflow>
    <unitTestProvider name="MSTest"/>
  </specflow>-->
    <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.12.0.0" newVersion="3.12.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  <appSettings>
    <add key="BaseUrl" value="https://api.github.com"/>
    <add key="GitToken" value="eb7037d6fea488870ab95ce58e4a6e011bb002c0" />
    <add key="GithubRepo" value="IssuesTestSolution"/>
    <add key="GitUser" value="Negend"/>
  </appSettings>
</configuration>